.Card{
  height: 400px;
  width: 260px;
  position: relative;
  display: flex;
  justify-content: center;
  .Card_imgDrink {
    width: 260px;
    height: 260px;
    object-fit: cover;
  }
  .Card_test{
    position: absolute;
    border: 1px solid;
    bottom: -25px;
    width: 80%;
    height: 180px;
    padding: 10px;
    background-color: white;
    h3{
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 1.5rem;
    }
    
    ul{
        padding-left: 15px;
        margin-top: 5px;
    }
  }
  
}