.boxGallery{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    padding: 10px;
    gap: 10px;
}
.img1,.img2,.img3{
    box-sizing: border-box;
    border-radius: 15px;
}
.img1,.img3{
    width: 25%;
    
}
.img2{
    width: 50%;
}
.titleGallery {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
@media only screen and (max-width: 700px) {
    .boxGallery{
        flex-wrap:wrap ;
        height: 500px;
        padding: 10px;
        gap: 0;
    }
    .img1,.img3{
        width: 50%;
        
    }
    .img2{
        width: 100%;
        order: 3;
    }

} 