//Colours
$primary-color:#222222;
$secondary-color:linear-gradient(228deg, #65c1fa 0%, rgb(240, 246, 253) 100%);
$impression-color: linear-gradient(228deg, #65c1fa 0%, rgb(240, 246, 253) 100%);
$active-color: #65c1fa;
$primary-color-alpha: #65c1fae3;

// mixin
@mixin display($align-items: flex-start,$justify-content: flex-start,$gap:0px,$wrap:nowrap,$flex-direction:row){
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
    gap:$gap;
    flex-wrap:$wrap;
    flex-direction:$flex-direction ;
}

@mixin cursor($cursor:pointer){
    cursor:$cursor;
    font-weight: bold;
}