*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
button{
    width: 100px;
}
.wrapper{
    height: 400px;
    width: 350px;
    border: 2px solid red;
}