@import "../../styles/variables";
.Navbar{
    height: 100px;
    @include display(center,space-between);
    padding: 10px;
    border-bottom: 1px solid $primary-color;
    .Navbar_list{
       @include display(center,center,20px);
       list-style-type: none;
       li {
        @include cursor;
       }

    }
    .Navbar_logo{
        width: 50px; 
    }
    div{
        @include display(center,center);
        .Navbar_button{
            width: 100px;
            height: 40px;
            border: 0;
            border-radius: 12px;
            background-color: $active-color;
            color: $primary-color;
            @include cursor;
            &:hover{
                background: $impression-color;
                color: $primary-color;
            }
        }
        .Navbar_social{
            @include display(center,space-between);
            margin: 10px;
            width: 100px;
            img{
                width: 25px;
                height: 25px; 
            }
        }
    }
}