*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    
}
header{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background: rgba(95, 94, 94, 0.589);
    margin-bottom: 10px;
    position: relative;
}
header .tendina {

    background-color: white;
    box-shadow: 0px 10px 10px #000;
    position: absolute;
    width: 300px;
    height: 400px;
    right: 10px;
    top: 65px;
    z-index: -1;
    opacity: 0;
    transition: all 0.35s;
    padding: 20px;
    border-radius: 10px;
  }
  header .tendina .box{
    width: 100%;
    display: flex;
    justify-content: space-between;    
  }
  header .tendina .delete{
    cursor: pointer;
  }
header img {
    height: 40px;
    width: 40px;
    object-fit: contain;
    border-radius: 100%;

}
header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:gainsboro;
}
header .hamburger{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: space-evenly ;
    cursor: pointer;
    flex-direction: column;
    border-radius: 100%;
    border:0;
    overflow: hidden;
    background-origin: rgba(95, 94, 94, 0.589);

}
header .hamburger .line{
    width: 100%;
    border: 2px solid gainsboro;
    border-radius: 10px;
    
}
.card h3,p{
   margin-left: 10px;  
   margin-right: 10px;  
  
}
.productsList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}
.productsList .card{
    display: flex;
    flex-direction: column;
    align-items: center;
   object-fit: contain;
    height: 300px;
    width: 250px;
    border: 2px solid black;
    border-radius: 50px;
}
.productsList .card button{
    width: 150px;
    
}
.productsList .card img{
    height: 150px;
    width: 100%;
    border-radius: 50px 50px 0 0;
    
}
.show {
    opacity: 1 !important;
    z-index: 2!important;
}