.Footer{
    position: fixed;
    background: $impression-color;
    height: 200px;
    bottom: 0;
    width: 100%;
    @include flexbox();
    @include justify-content(space-around);
    @include align-items(center);
    .social{
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        margin: 10px;
        width: 100px;
        .logoSocial{
            width: 25px;
            height: 25px; 
            color: $primary;
        }
    }
}