@import "../../styles/variables";
.Hero{
    @include display(center,center,0,nowrap,column);
    margin-bottom: 20px;
    h1{
        margin: 50px;
        font-size: 3rem;
        color: $primary-color;
    }
    .hero_first_list{
        @include display(center,center,20px);
        list-style-type: none;
        @include cursor;
    }
    hr{
        width: 80%;
        border: 0;
        border-bottom: 1px dotted $primary-color;
        border-width: 4px;
        margin: 20px;
    }
    .hero_second_list{
        @include display(center,space-around);
        width: 80%;
        list-style-type: none;
        @include cursor;
        li{
            border-bottom: 1px solid $primary-color;
            &:hover {
                background-color: $primary-color;
                color: $active-color;
              }
        }
    }
    
}