
.Hero{
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    padding-bottom: 20px;
    flex-direction: column;
    h1{
        margin: 50px;
        font-size: 3rem;
        color:$primary;
    }
    .first_list{
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        gap: 20px;
        list-style-type: none;
        @include cursor;
    }
    hr{
        width: 100%;
        border: 0;
        border-bottom: 1px dotted $primary;
        border-width: 4px;
        margin: 20px;
    }
    .second_list{
        @include flexbox();
        @include justify-content(space-around);
        @include align-items(center);
        width: 80%;
        list-style-type: none;
        @include cursor;
        gap: 10px;
        overflow-y: auto;
        li{
            border-bottom: 1px solid $primary;
            &:hover {
                background-color: $primary;
                color: $active-color;
              }
        }
    }
    
}